* {
    margin: 10px;
    padding: 2px;
}

#titulo-principal {
    color: blueviolet;
}

.destaque {
    background-color: yellowgreen;
}

div p {
    color: palevioletred
}

div>p {
    color: peru;
}

input[type="email"] {
    border: 2px solid red;

}

p:hover {
    background-color: aquamarine;
    transition-duration: 230ms;
}

li:first-child {
    font-size: 2px;
}

p::first-letter {
    font-size: 40px;
    color: brown;
    font-weight: bold;
}

.secao {
    height: 500px;
    background-color: bisque;

    p {
        box-shadow: 5px 5px 8px black;
    }

    #lista {
        background-color: rgb(37, 134, 158);

        li {
            font-size: large;
        }
    }
}