*{ 
    margin: 10px;
    padding: 2px;
}

#titulo-principal{
    color: blueviolet;
}

.destaque{
    background-color: yellowgreen;
}

div p{
    color: palevioletred
}

div > p { 
    color: peru;
}

input[type="email"]{
    border: 2px solid red;

}

p:hover {
    background-color: aquamarine;
    transition-duration: 230ms;
}

li:first-child {
    font-size: 2px;
}

p::first-letter{
    font-size: 40px;
    color: brown;
    font-weight: bold;
}